#content p {
    line-height: 28px;
    margin-bottom: 1.2rem;
}
#content h2,
#content h3,
#content h4 {
    font-weight: bold;
    color: #38b2ac!important;
}
#content h2 {
    font-size: 1.8rem!important;
    margin-bottom: .5rem;
}
#content h3 {
    font-size: 1.4rem!important;
    margin-bottom: .4rem;
}
#content img {
    width: 30%;
    height: 20rem;
    background-size: cover;
    object-fit: cover;
    margin: 1rem auto;
    margin-bottom: 1rem;
}
#content h4 {
    font-size: 1.2rem!important;
    margin-bottom: .4rem;
}
#content .text-green {
    color: #38b2ac!important;
}
#content iframe {
    height: 20rem;
    margin-bottom: 2rem;
}
#header-title {
    cursor: pointer;
    transition: .2s;
    padding: 5px 10px;
    border-radius: 10px;
}
#header-title:hover {
    transform: scale(1.05);
}
.drawer-menu {
    transition: .2s;
    cursor: pointer;
}
.drawer-menu:hover {
    background: #319795;
}
.drawer-menu:hover p {
    color: #fff!important;
}
.stories-card {
    transition: .2s;
}
.stories-card:hover {
    box-shadow: none;
}

@media (max-width: 768px) {
    #content img {
        width: 100%;
        height: 21rem;
    }
}